<h1 class="text-center mb-3">Error al intentar registrarse</h1>
<section class="row justify-content-center p-3">
	<div class="col-md-6">
		<form action="/redirect-signup" method="POST">
			<div class='d-flex justify-content-center'>
				<input class="btn btn-primary" type='submit' value='Volver' />
			</div>
		</form>
	</div>
</section>